body {
    margin: 0;
    padding: 0;
    background-color: #3498db; /* Light blue background */
}

.sunflower-container {
    width: 400px; /* Adjust size as desired */
    height: 400px;
    margin: 100px auto;
    border-radius: 50%;
    position: relative;
}

.center-circle {
    width: 100px;
    height: 100px;
    background-color: #ffd700; /* Yellow center */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.petal {
    width: 50px;
    height: 100px;
    background-color: #f1c40f; /* Orange for petals */
    border-radius: 0 50% 50% 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.petal--left {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.petal--right {
    transform: translate(-50%, -50%) rotate(135deg);
}

.petal--top {
    transform: translate(-50%, -50%) rotate(225deg);
}

.petal--bottom {
    transform: translate(-50%, -50%) rotate(315deg);
}
